:root{
    --gray: #f8f8f8;
}

.presentation{
    align-items: center;
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: fit-content;
    justify-content: center;
    margin: 5px 0px;
    padding: 50px;
    width: 100vw;
}

.presentation-image{
    border-radius: 25%;
    width: 250px;
}

.presentation-content{
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*@media (max-width: 1000px) {
    .presentation-content-title {
        font-size: 30px;
    }
}*/