:root
{
    --font-color: #0d1818;
    --font-family: "JetBrains Mono", monospace;
}

*{
    border: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}